# EditorConfig http://EditorConfig.org/

# General consensus is indent with 2 spaces according to projects at
# https://github.com/editorconfig/editorconfig/wiki/Projects-Using-EditorConfig

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_style = tab
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false

# Necessary if default indentation is tabs
[{.travis.yml,package.json}]
# The indent size used in the `package.json` file cannot be changed
# https://github.com/npm/npm/pull/3180#issuecomment-16336516
indent_style = space
indent_size = 2
